# Entorno virtual y vars de entorno
.venv/
.entorno/
.env
*.env

# MacOS y temporales de editor
.DS_Store
.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Datos: ignoro todos los CSV salvo estos dos
data/*.csv
!data/estaciones_filtradas.csv
!data/temperaturas_historicas_ampliadas.csv

# Notebooks: ignoro todo salvo los que explícitamente quiero versionar
notebooks/*.ipynb
!notebooks/Extracción y limpieza.ipynb
!notebooks/Extraccion punto 1.ipynb
!notebooks/01_Extracción_10_Años.ipynb
!notebooks/02_Extracción_Diaria.ipynb
!notebooks/03_DeepLearning_Global.ipynb
!notebooks/04_DeepLearning_Clusters.ipynb

# Otros directorios sobrantes
data/historico/
